<form action="index.php" method="post">
    <br>
    <input name="name" type="text" placeholder="Введите имя" >
    <br><br>
    <input name="password" type="password" placeholder="Введите пароль" >
    <br><br>
    <input name="email" type="email" placeholder="Введите email" >
    <br><br>
    <button name="send" type="submit">Отправить</button>
</form>
